---
import { Aside, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'

const headings = [
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'awards', text: 'Awards' },
  { depth: 2, slug: 'GPG Key', text: 'My GPG Key' },
  { depth: 2, slug: 'Coding time', text: 'Coding time' }
]
---

<PageLayout title='About' {headings} comment>
  <p>
    👋 I'm Swizzer, an active CTF player with the <a href="https://del0n1x.com/">Del0n1x</a> and <a href="https://normalsubgroup.cauchy.top/">正规子群</a>.
  </p>
  <p>
    My academic and extracurricular interests include algebra, combinatorics, and cryptography, with a strong passion for problem solving in competitive security challenges.
  </p>

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    You can find me on the following platforms:
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Swizzzer',
        text: 'followers',
        api: 'github/Swizzzer'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#171a21',
        link: 'https://steamcommunity.com/profiles/76561199221873292/',
        text: 'games',
        api: 'steamgames/76561199221873292'
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/446708215',
        text: 'followers',
        api: 'bilibili/446708215'
      },
      {
        platform: 'Twitter',
        icon: 'x',
        color: '#1da1f2',
        link: 'https://twitter.com/obfusor',
        text: 'followers',
        api: 'twitter/obfusor'
      }
    ]}
  />

  {/* awards */}
  <h2 id='awards'>Awards</h2>
  <Timeline
    events={[
      {
        date: '2024-06',
        content:
          'CISCN 华南分区决赛 二等奖'
      },
      {
        date: '2024-09',
        content:
          '羊城杯 决赛 rank 12/20'
      },
      {
        date: '2025-04',
        content: '数字中国创新大赛数字安全赛道 决赛 银奖'
      },
      {
        date: '2025-06',
        content: 'CryptoCTF world rank 10'
      },
      {
        date: '2025-08',
        content: 'TFCCTF world rank 22'
      },
      {
        date: '2025-09',
        content: '工业信息安全技能大赛 rank 8, 高校第一'
      }
    ]}
  />
  <h2 id='GPG Key'>My GPG Key</h2>
  <Aside type='tip' title='For Security'>You can download my <a href='https://github.com/swizzzer.gpg'>GPG key</a> to verify my signed messages.</Aside>

  <h2 id='Coding time'>Coding time</h2>
  <object type="image/svg+xml" data="https://wakatime.com/share/@Wercilim/17385e4c-c7ed-4b63-b85d-c0876e6ed93c.svg"></object>


</PageLayout>
