---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import { undefined } from 'astro:schema'

const headings = [
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'awards', text: 'Awards' }
]
---

<PageLayout title='About' {headings} comment>
  <p>CTFer / Crypto amateur</p>
  <p>
  I am an active CTF player with the Del0n1x team. 
  My academic and extracurricular interests include algebra, combinatorics, and cryptography, with a strong passion for problem solving in competitive security challenges.
  </p>

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/Swizzzer',
        text: 'followers',
        api: 'github/Swizzzer'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#2ca5e0',
        link: 'https://steamcommunity.com/profiles/76561199221873292/',
        text: 'games',
        api: 'steamgames/76561199221873292'
      }
    ]}
  />

  {/* awards */}
  <h2 id='awards'>Awards</h2>
  <Timeline
    events={[
      {
        date: '2024-06',
        content:
          'CISCN 华南分区决赛 二等奖'
      },
      {
        date: '2024-09',
        content:
          '羊城杯 决赛 rank 12/20'
      },
      {
        date: '2025-04',
        content: '数字中国创新大赛数字安全赛道 决赛 银奖'
      },
      {
        date: '2025-06',
        content: 'CryptoCTF world top10'
      }
    ]}
  />

</PageLayout>
